spring:
  application:
    name: SpringRestClient

resilience4j:
  circuitbreaker:
    instances:
      default:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
  retry:
    instances:
      default:
        maxAttempts: 3
        waitDuration: 100ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
  bulkhead:
    instances:
      default:
        maxConcurrentCalls: 10
        maxWaitDuration: 0ms
  timelimiter:
    instances:
      default:
        timeoutDuration: 2s
        cancelRunningFuture: true
